header {
      background: 
    linear-gradient(45deg,
        #FFFF66,
        #beb87e,
        #ca8f10);
        background-size: cover;
        background-position-y: -100px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0;
}

#header1{
    padding: 0;
    background: 
    linear-gradient(45deg,
        #FFFF66,
        #beb87e,
        #ca8f10);
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo {
    padding: 5px 10px;
}

#logo img{
    max-width: 100px;
    height: auto;
}

#main-menu {
    align-content: center;
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: auto;
    padding: 20px;
    padding-right: 0px;
    
}

#main-menu li {
    position: relative;
}

#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px; 
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color: #131921;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid white;
    display: none;
}

#main-menu li:hover>ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}

#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1 solid #6e6e6e;
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu{
    left: 201px;
    top: -15px;
}

/* border khi hover */

#main-menu>li>a{
    position: relative;
}

#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-menu>li:hover>a::before{
    width: 100%;
}

#main-menu>li.has-child::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    color: #f5f5f5;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
}

#main-menu .sub-menu li:hover>a{
    color: white;
}

#main-menu .sub-menu>li.has-child::after{
    content: '/f105';
    color: #858585;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f105';
    color: #f5f5f5;
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 9px 0px;
}

#main-menu .sub-menu>li.has-child:hover::after{
    color: white;
}

footer {
    display: block;
    position: absolute;
    /* height: 200px; */
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-weight: 550;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 80px;
        background: 
        linear-gradient(45deg,
        #111,
        white);
        font-style: italic;
        color: white;
    }

    