h2 {
    font-size: 16px;
    font-weight: 400;
    padding: 40px 70px;
    margin-left: 120px;
    text-align: justify;
}

h1 {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 26px;
    /* padding: auto; */
    margin-left: 139px;
}