@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
h4: tiêu đề ở giữa
h2: tiêu đề lớn
*/


/* slide hien 1 hinh anh  */
 .dot-container {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  /* margin: auto; */
}

.slideshow-container img {
    width: 100%;
    height: 400px;
    text-align: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*  */

/*  */

p{
    font-weight: 100;
    font-family: sans-serif;
    padding-left: 50px;
    text-align:justify ;
}

h4 {
    font-weight: bold;
    font-size: 26px;
    font-family: sans-serif;
    text-align: center;
}


/*  */

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/*  */

.about-container {
  background-color: #71717114;
  /* margin-left: 20px; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 110px;
}

.about-container h2 {
  padding: 0px 50px;
}

.about-text {
  flex: 1;
}

.Gioi-thieu{
   flex: 1;
   max-width: 500px;
}

.Gioi-thieu img{
    width: 90%;
  border-radius: 10px;
}

h2 {
    padding-left: 60px;
    color: rgb(250, 221, 34);
    font-weight: bold;
    font-family: sans-serif;
}

.about-text button {
    color: white;
    font-size: 16px;
    margin-left: 50px ;
    padding: 10px 10px;
    border-radius: 25px;
    border: white;
    background-color: rgb(250, 221, 34);
    font-family: sans-serif;
    font-weight: 600;
}

.about-text button a{
    text-decoration: transparent;
    color: white;
}
/*  */


/* slide hien nhieu hinh anh */

.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;

}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-item {
  flex: auto;
  padding: 10px;
  text-align: center;
}

.slide-item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.slide-item p {
    /* align-items: flex-start; */
    padding: 0px 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.slide-item a{
  color: black;
  text-decoration: transparent;
}

.slide-item a:hover {
  text-decoration: underline;
}

/* product */

.section-product {
  background-color: #71717114;
  padding: 50px 15px;
}

.product-container {
  text-align: center;
  max-width: 1170px;
  margin: auto;
}

.product-container p {
  margin-left: 20px;
  padding:  0px 200px;
  text-decoration: transparent;
}

.product-container p:hover {
  text-decoration: underline;
}

.product-container h2 {
  /* align-items: center; */
  padding-left: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 30px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.product-item {
  min-width: 50%;
  padding: 10px;
}

.product-item img {
  height: 300px;
  width: 550px;
  border-radius: 6px;
}

.product-name {
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

.carousel-btn {
  position: absolute;
  top: 50%; /* giữa theo chiều dọc */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 18px;
  /* border-radius: 50%; */
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.dots {
  text-align: center;
  margin-top: 15px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .product-item { min-width: 100%; }
}




/*  */

.section-product-featured {
      background-color: #f8f8f8;
     padding: 50px 15px;
    }

    .featured-products {
      text-align: center;
      max-width: 1160px;
      margin: auto;
    }

    .featured-products h2 {
      padding-left: 0px;
      font-size: 28px;
      font-weight: bold;
      color: #1f1f1f;
      margin-bottom: 30px;
      position: relative;
      display: inline-block;
      font-weight: bold;
    }

    .featured-products h2::after {
      font-weight: bold;
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #c49b63;
      margin: 10px auto 0;
    }

    .featured-products p {
      padding-left: 43%;
    }

    .carousel-container {
      position: relative;
      overflow: hidden;
    }

    .carousel-track {
      display: flex;
      transition: transform 0.5s ease;
    }

    .product-item {
      min-width: 50%;
      padding: 10px;
    }

    .product-item img {
      width: 100%;
      border-radius: 6px;
    }

    .product-name {
      margin-top: 10px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      color: #333;
    }

    .carousel-btn {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,0.4);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
      font-size: 18px;
    }

    .prev-btn { left: 0; }
    .next-btn { right: 0; }

    .dots {
      text-align: center;
      margin-top: 15px;
    }

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
    }

    .dot.active {
      background-color: #333;
    }

    @media screen and (max-width: 768px) {
      .product-item { min-width: 100%; }
    }


    /*  */
.section-service-carousel .carousel-container {
  padding: 40px 0px;
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: auto;
}

.section-service-carousel .carousel-track {
  /* padding: 20px; */
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track a {
  text-decoration: none;
}

.carousel-track a:hover {
  text-decoration: underline;
}

.section-service-carousel .slide-item {
  min-width: 50%;
  padding: 10px;
}

.section-service-carousel .slide-item img {
  width: 100%;
  height: 300px;
  display: block;
  /* gap: 50px; */
}

.section-service-carousel .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  /* border-radius: 50%; */
}

.section-service-carousel .prev-btn {
  left: 10px;
}

.section-service-carousel .next-btn {
  right: 10px;
}

